   
{SETSTYLE=default}
<!-- Page Content -->
<section class="py-5 bg-image-full" style="background-image: url(https://unsplash.it/1900/1080?image=1081);">
<div class="container" style="height: 250px;">
	<h2 class="text-center">{---CAPTION---}</h2> <!-- eg. news table-render caption -->
	   <div class='text-center'><p>{---TEXT---}</p></div> <!-- eg. news summary -->
	   {---BREADCRUMB---}
</div>
</section>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
				{SETSTYLE=cardmenu}
				{MENU=1}
		</div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
			{SETSTYLE=default}
			{---}  
		</div>
	</div>
</div> 