{SETSTYLE=default}
<!-- Magic Shortcodes - proof of concept -->
<!-- Enabled Debug in 'basic' mode to view all available types -->

<section class="py-5 bg-image-full" style="background-image: url(https://unsplash.it/1900/1080?image=1081);">
<div class="container" style="height: 250px;">
	<h2 class="text-center">{---CAPTION1---}</h2> <!-- eg. news table-render caption -->
	   <div class='text-center'><p>{---TEXT1---}</p></div> <!-- eg. news summary -->
</div>
</section>
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
    	{---CAPTION1---}
      <small>{---TITLE1---}</small> <!-- eg. news title -->
    </h1>



    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">{BREAD}</li>
    </ol>
    
	<div class="row">
		<div class="col-md-8">
			{ALERTS}
			{---}
		</div>
		<div class="col-md-4">
			<div class="menu"> 
				{SETSTYLE=cardmenu}
				{MENU=1}  
			</div>
		</div>
	</div>
</div> 